/*Font Option starts here*/
@font-face {
    font-family: 'PermanentMarker';
    src: url(font/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url(font/GOTHICB.ttf);
}
/*Font Option ends here*/

/*Columns and Rows start here*/
.row {
    width: 1280px;
}
/*Columns and Rows end here*/

/*Backgrond starts here*/
.bg {
        background-image: url(images/landingpagebg.png);
        padding-bottom: 10%;
        margin-bottom: -10%;
        margin-top: -10px;
        margin-left: -8px;
        margin-right: -8px;
}
/*Backgrond ends here*/

/*Navigation bar stuffs start here*/ 
.topbar { 
    border-bottom: 2px solid black;
    margin-left: 8%;
}

.logo {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    margin-bottom: -1.5%; 
}

.logo li {
    list-style-type: none;
}

.logo li a {
    text-decoration: none;
    font-family: PermanentMarker;
    color: white;
    font-size: 160%;
    position: relative;
    bottom: -2px;
    
}

.navbar {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    height: auto;
    margin-top: -2%;
}

.navbar li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: montserrat;
    position: relative;
}

.nav_link:hover {
    color: #9FB2F3;
}

.nav_link::after {
    content: '';
    height: 2px;
    width: 0;
    background: #9FB2F3;
    display: block;
    position: absolute;
    left: 0;
    bottom: -6px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.nav_link:hover::after {
    opacity: 1;
    width: 100%;
}
/*Navigation bar stuffs end here*/
/*Dropdown Buttons for Portfolio start here*/
.dropdown {
    position: relative;
    display: contents;
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9D9D9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -8px;
    margin-left: 78%;
    margin-top: 2.6%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: montserrat;
    font-style: bold;
    font-size: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #9FB2F3
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Dropdown Buttons for Portfolio end here*/

/*Contents start here*/
.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}

h1 {
    display: flex;
    font-family: CenturyGothicBold;
    color: white;
    font-size: 48px;
}

.pic1 {
    width: 100%;
    height: 100%;
}
/*Contents end here*/

/*Colors start here*/
.lightblue {
    color: #9FB2F3;
}
/*Colors end here*/

/*ADD MARKS Element starts here*/
@media (max-width:700px) {
    .bg {
        padding-bottom: 50%;
    }
    
    .topbar {
        max-width: 565px;
        padding-bottom: 8px;
    }
    
    .logo {
        margin-bottom: -5%;
    }
    
    .navbar li a {
        bottom: -10px;
    }
    
    .box1 {
        max-width: 565px;
    }
    
    h1 {
        font-size: 36px;
    }
}
/*ADD MARKS Element ends here*/


